@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Noto+Sans+JP:wght@100..900&display=swap');

*{
    font-family: "Anuphan", sans-serif;
}


/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
    color: #333;
  }
  
  .header {
    padding: 20px;
    background: rgb(16, 69, 144);
    background: linear-gradient(140deg, rgb(16, 76, 144) 0%, rgba(0,132,230,1) 38%, rgb(196, 5, 5) 100%);    color: white;
  }
  
  .portfolio-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .portfolio-item {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .portfolio-item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #007bff;
  }
  
  .portfolio-item h2 {
    margin: 10px 0;
    color: #343bc8;
  }
  
  .portfolio-item p {
    padding: 10px;
    color: #555;
  }
  
  footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
  }